<script>
    const dropdownMenu = document.querySelector('.flex-container-row:first-child');
    dropdownMenu.innerHTML = '<input type="checkbox" id="expand-toggle"/><label for="expand-toggle" id="expand-btn">&#9776; LaborLand</label><table><tbody><tr class="expandable"><td><span class="hed">Insert headline 1 here</span><br/><span class="descriptor">Mauris nunc congue nisi vitae suscipit tellus mauris. Hac habitasse platea dictumst quisque sagittis purus. Nec nam aliquam sem et tortor consequat. </span></td></tr><tr class="expandable"><td><span class="hed">Insert headline 1 here</span><br/><span class="descriptor">Mauris nunc congue nisi vitae suscipit tellus mauris. Hac habitasse platea dictumst quisque sagittis purus. Nec nam aliquam sem et tortor consequat. </span></td></tr><tr class="expandable"><td><span class="hed">Insert headline 3 here</span><br/><span class="descriptor">Mauris nunc congue nisi vitae suscipit tellus mauris. Hac habitasse platea dictumst quisque sagittis purus. Nec nam aliquam sem et tortor consequat. </span></td></tr><tr class="expandable"><td><span class="hed">Insert headline 4 here</span><br/><span class="descriptor">Mauris nunc congue nisi vitae suscipit tellus mauris. Hac habitasse platea dictumst quisque sagittis purus. Nec nam aliquam sem et tortor consequat. </span></td></tr></tbody></table>';
</script>

<style>
  
body{overflow-x:hidden;}

/* nav bar dropdown menu */

.app-bar-inner{padding:0px;}

#expand-toggle {
  display: none;
}

.expandable {
  visibility: collapse;
  background: #000000;
  text-align: center;
  cursor: pointer;
  opacity: 0.87;
  transition: 0.5s;
}

.expandable:hover{
  background-color: #4d4d4d;    
}

table{
  width:100%;
  margin-top:40px;
}

table > tbody > tr > td > span:not(.descriptor){
  font-family: Spectral-Bold,Arial,Helvetica,sans-serif;
  font-weight:700;
  color: #FFFFFF;
}

table > tbody > tr > td > span.descriptor{
  color:#FFFFFF;
  font-family: Georgia,Arial,Helvetica,sans-serif;
}

#expand-btn {
  color: #FFFFFF;  
  font-family: Spectral-Bold,Arial,Helvetica,sans-serif;
  font-size: 1.7em;
  letter-spacing: -1px;
  cursor:pointer;
  width:375px;
  position: absolute;
}

#expand-toggle:checked ~ * .expandable {
  visibility: visible;
  transition: 0.5s;
}

#expand-toggle:checked ~ #expand-btn {
  color: #FFFFFF;
}


/* nav dropdown menu end */

.crd--cnt{
    font: 400 18px/28px 'Spectral-Bold' !important;
}

p{
    color: #222;
    font-size: 1.2em;
    font-family: Georgia,Arial,Helvetica,sans-serif;
    line-height:1.5em;
}

p a:link, p a:visited, p a:hover, a:active{
    font-family: Spectral-Bold,Arial,Helvetica,sans-serif;
    color: #222;
    font-size: 1em;
}

h1.heavy-text, .h5 .heavy-text{
    font-family: Spectral-Bold,Arial,Helvetica,sans-serif !important;
    font-size: 1.8em !important;
    margin-top: 2em !important;
    margin-bottom:.5em !important;
}
    
#right-rail {
    display: none !important;
}

/* this removes the old headline, old byline, and old social media icons*/
#top .pb-layout-item{
    display:none;
} 

/*nav bar elements */

.flex:not(.screamer){
    flex:none;
}

#app-bar-search-button, #app-bar-topics-button{
    display: none;
}    

.login-subscribe{
    display: none;    
}

.flex-container-row:nth-child(2){
    display: none;
}

/* nav bar elements end */

span.roadblock{
    display:none;
}

/* turn off advertisements */
.inline-ad, .pb-ad, .mobile-dfp .inline-ad, .pb-f-ads-taboola, .trc_rbox thumbnails-feed-f-v3 .trc-content-sponsored, .taboola-skip {
    display:none !important;
    margin: 0px !important;
}

.cs__ctn__border-bottom{
    border-bottom: none;
}

/*nav bar*/

    
@media (min-width: 800px){
    .crd--cnt{
        font: 400 18px/28px 'Spectral-Bold' !important;
    }

    .crd--cnt p{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .container{
        max-width:100% !important;
        margin-right:0% !important;
        margin-left:0% !important;
    }
    
    #left .artcl--sect-tmpl{
        float: none;
        width: 100%;
    }
    
    [data-type="text"]{
        margin: 0% 15%;
    }
    [data-type="interstitial_link"]{
        display: none;
    }

    h1.heavy-text, .h5 .heavy-text{    
        margin-left: 15%;
        margin-right: 15%;
    }
    
    #top .pb-layout-item{
        display:none;
    } 
    .padded-container{
        padding: 0px !important;    
    }
    /* .left undoes an existing style*/
    .left{
        padding: 0px !important;
    }
    .pb-container{
        margin: 0px important!;
    }
}



@media (min-width:801px){
    .artcl--sect-tmpl{
        float: none;
        width: 100%;
    }
    table > tbody > tr > td > span:not(.descriptor){
    font-size: 2.2em;
    }
    table > tbody > tr > td > span.descriptor{
    font-size: 1.3em;       
    }
    table td{
    padding:40px;
    }
}    

@media (max-width: 799px){
    .crd--cnt > p{
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }
    table > tbody > tr > td > span:not(.descriptor){
    font-size: 1.2em;
    }
    table > tbody > tr > td > span.descriptor{
    font-size: 1em;       
    }
    table td{
    padding:25px;
    }
}    

@media (min-width: 416px){
    /* .crd .crd--cnt undoes an existing style*/
    .crd .crd--cnt, .crd .crd--cnt{
        padding:0px !important;
    }
    .crd.crd-pll-lf{
        width:25%;
        float:right;
    }
}

@media (max-width: 570px){
    .flex .flex-container-row .align-items-center{
        display: none;
    }
}
</style>
